


/* CSS INDEX */

* {
	margin: 0;
	padding: 0;
}
html, body {
	padding: 0 0 50px;
 	margin: 0;
}
body {
	background: black;
	color: white;
}
header {
	background: black;
	width: 100%;
	height: 65px;
}

img.logo {
	height: 65px;
}
div.intro {
	float: right;
}
li.sub {
	list-style: none;
	top: 10px;
}

img.menuc {
	position: relative;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	top: -65px;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 50%;
	margin-left:  10px;
	
}
/*IMAGENES DE ENLACES*/
img.b{
	width: 25px;
	height: 25px;
	border-radius: 50px;
}



section {
	margin: 40px;
	color: #909067;
	text-align: center;
	margin-left: 20px;
	font-size: 19px;
	letter-spacing: 1px;
}


@media screen and (min-width: 768px){

	img.logo {
		height: 100px;
		left: 50px;
	}

	img.b{
	width: 35px;
	height: 35px;
	border-radius: 50px;
}
 }


