


/* CSS INDEX */

* {
	margin: 0;
	padding: 0;
}
html, body {
	padding: 0 0 50px;
 	margin: 0;
}
body {
	background: black;
	color: white;
}
header {
	background: black;
	width: 100%;
	height: 65px;
	border-radius: 0 0 5px 5px;
}
img.logo {
	position: relative;
	height: 65px;
}
div.intro {
	float: right;
}
li.sub {
	list-style: none;
	width: 58px;
}

img.menuc {
	position: absolute;
	border-radius: 50px;
	width: 60px;
	top: -65px;
}

li.sub ul {
	display: none;
}
li.sub:hover > ul {
	display: block;
}

li.sub {
	position: relative;
}

li.sub:hover > ul {
	display: block;
	position: absolute;
	top: -20px;
	left: 2px;
	margin: 0;
	background: transparent;
	list-style: none;
}

li#en {
	list-style: none;
	background: transparent;
}

section a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
	font-size: 19px;
}

section a:hover {
	color: red;
	font-size: 15px;
}

/*IMAGENES DE ENLACES*/
img.b{
	width: 35px;
	height: 35px;
	border-radius: 50px;
}
@media screen and (min-width: 768px){

	img.logo {
		height: 100px;
		left: 50px;
	}
 }

